.product{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 900px;
    height: 373px;
    background: #191919;
    border-radius: 6px;
    padding: 25px;
}
.left_product{
    width: 485px;
    height: 375px;
    display: flex;
    justify-content: space-between;
}
.left_product_image{
    width: 380px;
    height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.product_images{
    display: flex;
    flex-direction: column;
    width: 90px;
}
.image{
    height: 90px;
    width: 90px;
    border-radius: 10px;
    cursor: pointer;
}
.right_product{
    position: relative;
    width: 386px;
    height: 375px;
    display: flex;
    flex-direction: column;
}
.product_name{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #F6F6F7;
    text-transform: capitalize;
}
.product_price{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #F6F6F7;
    margin-top: 10px;
}
.product_color{
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.color{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #576067;
}
.color_name{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #F6F6F7;
}
.product_description{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    width: 330px;
    color: #B8B8B8;
    margin-top: 20px;
}
.product_size{
    margin-top: 16px;
    width: 161px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.size{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #576067;
}
.size_number_list{
    width: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.size_number{
    display: flex;
    justify-content: center;
    width: 23px;
    height: 25px;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    color: #F6F6F7;
    background: #212123;
    align-items: center;
}
.size_number:hover{
    background: #6C3EB8;
}
.button_list{
    width: 300px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.cart{
    background: #6C3EB8;
    border-radius: 6px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 9px 20px 9px 20px;
    border: none;
    cursor: pointer;
}
.cart:hover{
    background: #8B57C6
}
.disable{
    background: gray;
    border-radius: 6px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 9px 20px 9px 20px;
    border: none;
    cursor: no-drop;
}
.disable:hover{
    background: gray;
}
.favorites{
    background: #576067;;
    border-radius: 6px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    padding: 9px 20px 9px 20px;
    border: none;
    cursor: pointer;
}
.footer{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
}
.footer_left{
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    color: #576067;
}
.footer_right{
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    text-decoration-line: underline;
    color: #576067;
}